#note-images .ant-upload-list {
    color: #333;
    background-color: #17020c34;
    position: absolute !important;
    top: -8rem;
    padding-block: 0px;
    left: -1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.2rem;
    overflow-x: auto;
    max-width: max-content;
    width: 300px;
    border-radius: 2rem;
    transition: all 1s linear;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    &::-webkit-scrollbar {
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
}


#note-images .ant-upload-list:empty {
    display: none;
}

#note-images .ant-upload-list-item-container {
    display: inline-block;
    padding: 0px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

#note-images .ant-upload-list-item {
    border: none;
    padding: 0px;
}

#note-images .ant-upload-list-item-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#note-images .ant-upload-list-item,
#note-images .ant-upload-list-item-undefined {
    border: none !important;

}

#note-images .ant-upload-list-item-name {
    display: none !important;
}

#note-images .ant-btn-icon {
    background-color: rgba(255, 0, 0, 0.224) !important;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 1rem;
}